nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
img.maries {
  display: block;
  margin: 50px auto;
  padding: 20px 10px;
}
img.soup {
  max-width: 35%;
}
.delicacy {
  display: block;
  padding: 0;
  margin: 0 auto;
}
.contact-links {
  font-size: 24px;
  font-weight: normal;
  color: blue;
  transition: all 100ms ease-in-out;
}
.design {
  background: rgba(249, 247, 254, 1);
}
.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
.email-link:hover {
  text-decoration: underline;
  color: blueviolet;
}
.contact-links a:hover {
  color: red;
}
.social-links {
  color: blue;
}
.cordis {
  width: 500px;
  height: 450px;
  border-radius: 3px;
}
